html {
    min-height: 100%;
}

*, h1 {
    margin: 0;
    padding: 0;
}
body {
    background: rgb(5,148,252);
    background: linear-gradient(45deg, rgba(5,148,252,1) 0%, rgba(24,250,254,1) 100%);
}
@font-face {
    font-family: 'Nexa-Bold';
    src: url('../fonts/Nexa-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Nexa-Light';
    src: url('../fonts/Nexa-Light.otf') format('opentype');
}

.navbar {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.down {
    border-radius: 50%;
    color: #13ddfe;
    font-size: 2.5rem;
    padding: 0 4px;
    background-color: white;
}

.navbar ul{
    list-style: none;
}
.navbar ul li{
    font-family: 'Nexa-Light';
    color: white;
    position: relative;
    font-size: 2.5em;
    display: inline-block;
    padding: 0 4rem;
}
.navbar ul li a{
    display: block;
    text-decoration: none;
    color: #fff;
}
.navbar ul li a:hover{
    color: #fff;
}
.navbar ul li ul.dropdown{
    display: none;
    font-size: .5em;
    position: absolute;
    z-index: 999;
    left: 0;
}
.navbar ul li:hover ul.dropdown{
    display: block;
}
.navbar ul li ul.dropdown li{
    display: block;
}

.burger {
 
    cursor: pointer;
    display:none;
  background:white;
  border-radius:2px;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    transition: all 0.3s ease;
}
@keyframes navLinkFade{
    from{
         opacity: 0;
         transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}

.content {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fa{
    font-size:20px;
    
  }

.img {
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

#left {
    position: fixed;
    bottom: -40%;
    left: -50%;
    transform: rotate(90deg);
}

#right {
    position: fixed;
    top: -40%;
    right: -50%;
    transform: rotate(300deg);
}
img{
    vertical-align: middle;
    width: 15%;
    padding: 5px;
}
.main-heading h1 {
    font-family: Nexa-Bold;
    color: white;
    font-size: 8em;
    font-weight: 100;
}

.sub-heading h3 {
    font-family: Nexa-Light;
    color: white;
    font-size: 3.5em;
    font-weight: lighter;
}

.main-content p {
    font-family: Nexa-Light;
    color: white;
    font-size: 2em;
    font-weight: lighter;
}

/* Rest of the devices */

@media (min-width: 320px) and (max-width: 480px), (max-width: 768px) {
    .main-heading h1 {
        font-size: 4em;
    }

    .sub-heading h3 {
        font-size: 2em;
    }

    .main-content p {
        font-size: 1em;
    }   
    .navbar {
        position: fixed; 
        align-content: center;
        right: 0px;
        height: 50vh;
        top: 10vh;
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translateX(100%);
        transition:transform 0.5s linear;
        z-index: 2;
    }
    .navbar li{
        opacity: 0;
    }
    .burger{
        display: block;
        z-index: 3;
    }
}

/* iPad Portrait */

@media (min-height: 768px) {
    .main-heading h1 {
        font-size: 7em;
    }

    .sub-heading h3 {
        font-size: 4em;
    }

    .main-content p {
        font-size: 2em;
    }   
}