html {
    min-height: 100%;
}

*, h1 {
    margin: 0;
    padding: 0;
}
body {
    background: rgb(5,148,252);
    background: linear-gradient(45deg, rgba(5,148,252,1) 0%, rgba(24,250,254,1) 100%);
}
@font-face {
    font-family: 'Nexa-Bold';
    src: url('../fonts/Nexa-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Nexa-Light';
    src: url('../fonts/Nexa-Light.otf') format('opentype');
}

.content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img {
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

#left {
    position: fixed;
    bottom: -40%;
    left: -50%;
    transform: rotate(90deg);
}

#right {
    position: fixed;
    top: -40%;
    right: -50%;
    transform: rotate(300deg);
}

.main-heading h1 {
    font-family: Nexa-Bold;
    color: white;
    font-size: 8em;
    font-weight: 100;
}

.sub-heading h3 {
    font-family: Nexa-Light;
    color: white;
    font-size: 3.5em;
    font-weight: lighter;
}

.main-content p {
    font-family: Nexa-Light;
    color: white;
    font-size: 2em;
    font-weight: lighter;
}

/* Rest of the devices */

@media (min-width: 320px) and (max-width: 480px), (max-width: 768px) {
    .main-heading h1 {
        font-size: 4em;
    }

    .sub-heading h3 {
        font-size: 2em;
    }

    .main-content p {
        font-size: 1em;
    }   
}

/* iPad Portrait */

@media (min-height: 768px) {
    .main-heading h1 {
        font-size: 7em;
    }

    .sub-heading h3 {
        font-size: 4em;
    }

    .main-content p {
        font-size: 2em;
    }   
}