* {
    background: rgb(5,148,252);
    background: linear-gradient(45deg, rgba(5,148,252,1) 0%, rgba(24,250,254,1) 100%);
    overflow-x: hidden
}

.hexx {
	width: 100%;
	height: 100%;
}

@media (min-width: 1281px) {
    #log {
       	background: none;
       	position: fixed;
       	opacity:0.8;
       	bottom: -40%;
       	left: -15%;
       	z-index: 2
        transform: rotate(90deg);
        animation: leaf 2s ease forwards;
    }

    .x {
    	position: fixed;
    	top: 30%;
    	left: 40%;
        transform: rotate(-60deg);
        background: none;
        z-index: 0;
    }

    #one {
    	animation: yo 2s ease forwards;
    }

    #two {
    	animation: yoyo 2s ease forwards;
    }

    @keyframes yo {
    	to {
        	transform: rotate(0deg);
    	}
    }

    @keyframes yoyo {
    	0% {
        	transform: rotate(-60deg);
    	}
    	50% {
			transform: rotate(0deg);			    		
    	}
    	100% {
			transform: rotate(60deg);			    		
    	}
    }
    
    #logo {
       background: none;
       position: fixed;
       opacity:0.6;
       bottom: -40%;
       left: 20%;
       transform: rotate(90deg);
       z-index: 2;
       /* max-width: 100%; */
   	}

   	@keyframes leaf {
   		0% {
   			bottom: -40%;
   		}
   		50% {
   			bottom: -45%;
   		}
   		100% {
   			bottom: -50%;
   		}
   	}
}

/* Mobile Devices */
@media (min-width: 320px) and (max-width: 480px)  {
	.x {
		display: none;
	}

	#log {
		background: none;
		position: fixed;
		bottom: -30%;
		opacity: 0.6;
		transform: rotate(90deg);
		max-width: 100%;
	}

	#logo {
		background: none;
		position: fixed;
		opacity: 0.6;
		transform: rotate(90deg);
		max-width: 100%;
	}   
}