li {
list-style-type : none ;
margin : 0 8px ; 
font-size : 20px ; 

}

a { 
text-decoration : none ;
}

a:hover{
  background-color: #C6E9FF;
}

nav { 
width : 100%  ;
background-color : #18FAFE;

} 

ul  {
margin  :  0  ; 
padding : 0 ;
display: inline-flex; 
}

body  { 
margin:0; 

}

button { 
display:none ; 
}




 @media only screen and (max-width: 500px) {
  
ul{
      display :flex ; 
       flex-direction : column ; 
  }
  
a{
    display: block;
  }
  
li{
    margin: 0;
  }
  
  button  {
  display : block ; 
  padding : 6px ; 
  font-size : 13px ; 
  background-color : #AFE0FF ; 
  border : none ;   
  outline : none ; 
  cursor : pointer ; 
  align-self: flex-start ; 
}



.icon {
display : none ; 

}

.this .thisaswell
