
body {
  margin:0;
  font-family:Nexa,Light ;
 }

.navigation {
  overflow: hidden;
  background-color: #0093FFFC;
  font-family: Nexa,Light;
}

.navigation a {
  float: left;
  letter-spacing: 1.3px;
  display: block;
  color: #f2f2f2;
  text-align: center;
  background-color: #0093FFFC;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 23px;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.navigation .icon {
  display: none;
}

.dropdown {
  float: left;
  overflow: hidden;
  position: unset;
}

.dropdown .dropbtn {
  font-size: 23px;
  border: none;
  color: white;
  letter-spacing: 1.3px;
  outline: none;
  height: 10px;
  text-decoration: none;
  padding: 14px 16px;
  font-family: inherit;
  margin: 0;
  background-color: inherit;
}

.dropdown .dropbtn {
  font-size: 23px;
  border: none;
  color: white;
  positon:relative;
  right:30px;
  letter-spacing: 1.3px;
  outline: none;
  height: 10px;
  text-decoration: none;
  padding: 14px 16px;
  font-family: inherit;
  margin: 0;
  background-color: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navigation a:hover, .dropdown:hover .dropbtn {
  background-color: none;
  color: white;
}

a.active {
  font-size: 23px;
}


.dropdown .part{
font-size: 23px;
border: none;
color: white;
letter-spacing: 1.3px;
outline: none;
height: 10px;
text-decoration: none;
padding: 14px 16px;
font-family: inherit;
margin: 0;
position: relative;
background-color: inherit;
right: 27px;
}
a.vertical {
   display: none;
}

.dropdown .vertical {
  display: none ;
}
.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
  position: absolute;
  top: 54px;
  color: white;
}

@media screen and (max-width: 600px) {
  .navigation a:not(:first-child),
  .dropdown .dropbtn {
    display: none;
  }
  .navigation a.icon {
    float: right;
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .navigation.responsive
  {
    position: relative;
  }
  .navigation.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .navigation.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .navigation.responsive .dropdown {
    float: none;}

  .navigation.responsive .dropdown-content {
    position: relative;
    top: 1px;}
  .navigation.responsive .dropdown .dropbtn {
    display: none;

}

.dropdown .dropbtn1 {
  display: none;
}
.dropdown .vertical  {
  display: block;
  position: relative;
  top: -30 px ;
}

.dropdown .part {
  display : none ;
}
}
